{{$structName := .StructName}}
{{$methodDescriptions := .MethodDescriptions}}
{{range $index,$methodTempl := .MethodTempls}}
{{/*$zeroindex :=  sub $index 1 */}}
// {{$structName}} {{index $methodDescriptions $index}}
func (s * {{$structName}}) {{$methodTempl}}
{{end}}